{% extends "home.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <div class="text-center">
    <h1>{{ date }}</h1>
    {{wtf.quick_form(form)}}
    
    {% if form2 %}
        {{ wtf.quick_form(form2) }}
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('home') }}">Back to calendar</a>
    </div>
{% endblock %}
