{% extends "home.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<body>
    <div id="body">
    <div class="p3">
        <h1>{{ date }}</h1>
    </div>
    <div>
    {{ wtf.quick_form(form, id="main") }}
    
    {% if form2 %}
        {{ wtf.quick_form(form2) }}
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('home') }}">Back to calendar</a>
    </div>
    </div>
    <script>
        let stored = JSON.parse(localStorage.getItem('toggle'));
        stored += "d-flex flex-column align-items-center pt-5";
        document.querySelector('body').className = stored;
        if (stored == "p-2 bg-light text-dark d-flex flex-column align-items-center pt-5") {
            document.getElementById('body').setAttribute("class", "bg-white text-center border w-50 pb-3 pt-3 rounded-lg shadow-lg");
        } else {
            document.getElementById('body').setAttribute("class", "bg-black text-center border w-50 pb-3 pt-3 rounded-lg shadow-lg");
            document.querySelector('a').setAttribute("class", "text-light");
        }
        </script>
</body>
{% endblock %}
