{% extends "home.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<body class="d-flex flex-column align-items-center p-3 bg-light text-dark">
    <div class="text-center border border-info w-50 shadow mb-5 rounded">
    <div class="bg-info text-light p-3">
        <h1>{{ date }}</h1>
    </div>
    <div class="bg-white pb-3">
    {{wtf.quick_form(form)}}
    
    {% if form2 %}
        {{ wtf.quick_form(form2) }}
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('home') }}">Back to calendar</a>
    </div>
    </div>
</body>
{% endblock %}
